//** Width of the `border` for generating carets that indicate dropdowns.
@plone-caret-width-base:          4px;
//** Carets increase slightly in size for larger components.
@plone-caret-width-large:         5px;
@plone-font-size-base:           16px;

// a { outline: 1px dotted white; margin: 0.25em; }
.plone-navbar-nav li {
    .caret {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top:   (@plone-font-size-base * .25) dashed;
      border-right: (@plone-font-size-base * .25) solid transparent;
      border-left:  (@plone-font-size-base * .25) solid transparent;
    }

  &:hover > .submenu {
    display: block;
  }
  &.active:after,
  &:hover:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    width: 100%;
    z-index: 999;
  }
  .submenu {
    background-color: @plone-link-color;
    display: none;
    list-style: none;
    padding-left: 0;
    padding-bottom: 0;
    position: absolute;
    z-index: 9999;
    .opener {
      background: transparent;
      float: right;
      text-align: right;
      width: @plone-font-size-base * 2;
      height: @plone-font-size-base * 2;
      margin-top: -(@plone-font-size-base * 0.4);
      margin-right: -(@plone-font-size-base * 0.7);
      .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: bottom;
        border-left:   (@plone-font-size-base * .25) dashed;
        border-bottom: (@plone-font-size-base * .25) solid transparent;
        border-top:  (@plone-font-size-base * .25) solid transparent;
      }
    }

    a {
      color: white;
      display: block;
      line-height: 20px;
      min-width: 14em;
      padding: 10px 15px;
      position: relative;
      &:hover {
        background-color: #9abdd6;
        text-decoration: none;
      }
      &:before {
        margin-right: 10px;
      }
      .submenu_image {
        float: right;
      }
    }
    // .dropdown-submenu a.hasDropDown {
    //   &:after {
    //     content: "▸";
    //     display: inline-block;
    //     position: absolute;
    //     right: 0;
    //   }
    // }
    li {
      position: relative;
      float: left;
      &:hover ul {
        top: 0;
        left: 100%;
      }
    }
  }
}


@media (max-width: 768px) {
.plone-navbar-collapse.in {
  .opener {
    background: transparent;
    border: 1px solid white;
    float: right;
    text-align: center;
    width: @plone-font-size-base * 2;
    height: @plone-font-size-base * 2;
    margin-top: -(@plone-font-size-base * 0.4);
    margin-right: -(@plone-font-size-base * 0.7);
    .caret {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 0;
      vertical-align: bottom;
      border-top:    0.5em dashed;
      border-right:  0.5em solid transparent;
      border-left:   0.5em solid transparent;
      border-bottom: 0;
    }
  }
  .menu-open { display: block!important; }
  .plone-navbar-nav {
      margin: 0 -15px 0;
  }
  li {
    &:hover > .submenu {
      display: none;
    }
    .submenu {
      .opener {
        background: transparent;
        border: 1px solid white;
        float: right;
        text-align: center;
        width: @plone-font-size-base * 2;
        height: @plone-font-size-base * 2;
        margin-top: -(@plone-font-size-base * 0.4);
        margin-right: -(@plone-font-size-base * 0.7);
        .caret {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 0;
          vertical-align: bottom;
          border-top:    0.5em dashed;
          border-right:  0.5em solid transparent;
          border-left:   0.5em solid transparent;
          border-bottom: 0;
        }
      }
      // display: block;
      position: relative;
      a {
        &:hover {
          // background-color: unset;
        }
      }
      li {
        float: none;
        &:hover ul {
            top: unset;
            left: unset;
        }
      }
    }
    .opener.menu-open {
      > .caret {
        border-top:    0;
        border-right:  0.5em solid transparent;
        border-left:   0.5em solid transparent;
        border-bottom: 0.5em dashed;
      }
    }
    .navTreeLevel0 .submenu_title {
      padding-left: 0.5em;
    }
    .navTreeLevel1 .submenu_title {
      padding-left: 1em;
    }
    .navTreeLevel2 .submenu_title {
      padding-left: 1.5em;
    }
    .navTreeLevel3 .submenu_title {
      padding-left: 2em;
    }
  }
}
  .plone-navbar-nav li {
    .submenu {
      // display: none;
    }
    &:hover > .submenu {
      display: unset;
    }
  }
}
