*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.mo
*.pyc
*.pyo
*.tmp*
.bzr
.coverage
.DS_Store
.hg
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
/pip-selfcheck.json
bin
build
develop-eggs
dist
downloads
eggs
fake-eggs
include
lib
lib64
local
parts
pip-selfcheck.json
var
/.Python
/node_modules
