*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.mo
*.pyc
*.pyo
*.tmp*
.bzr
.DS_Store
.hg
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.svn
bin
build
develop-eggs
dist
downloads
eggs
fake-eggs
include
lib
local
parts
var
