/* @override http://localhost:8080/dropdown/portal_css/Sunburst%20Theme/dropdown-menu.css */

#portal-top {
  z-index:1;
  }

/*---------- BASIC STYLE one level ----------*/
#portal-globalnav {
  list-style-image:none;
  position:relative; /* fix ie */
  zoom:1; /* fix ie */
  }
#portal-globalnav:after {
  content:"";
  clear:both;
  display:block;
  visibility:hidden;
  }
#portal-globalnav li {
  float:left;
  position:relative;
  }
#portal-globalnav li a {
  display:block;
  border-top: 1px solid #fff;
  }

/*----- DropDown -----*/
ul.submenu {
  display:none;
  left:0;
  position:absolute;
  top:100%;
  }
#portal-globalnav li:hover > ul.submenu {
  display:block;
  }
ul.submenu li {
  float:none;
  margin:0;
  }
#portal-globalnav ul.submenu li a {
  padding:0.5em 1.5em 0.5em 1em;
  width:12em;
  background: none;
  }
ul.submenu ul {
  top:0;
  left:100%;
  }
ul.submenu a.state-published:hover {
    color: #fff !important;
}

.selected ul.submenu .state-published {
    background-color: #7c98ac;
}


/*----- espens styels -----*/

ul.submenu.dropdown-menu {
	border-right: none;
	background-color: #7c98ac;
}

ul.submenu.dropdown-menu li {
	clear: both;
	padding-bottom: 4px;	
}

.submenu_title,
.submenu_description {
   width: 105px;
   float: left;
   display: block;
}

.subnmenu_image {
	float: right;
}


